<div class="successpage">
	<div class="container">
    	<div class="ints">
        <img th:src="@{/images/check.png}" alt="" />
        <h1 th:if="${message}" th:text="${message}"></h1>
    	<h2>Ще ви се обадим (Ако сте въвели валидни данни)<br/>
            Заявката ви ще стане реална ако я потвърдите чрез обаждане на тел:
            <a href="tel:+359 899 5888 30">
                +359 899 5888 30
            </a>
        </h2>
        <p>Между временно може да видите от къде ще вземете колата на картата</p>
        <a href="/#map" class="btn">Към карта с място на взимане</a>
        <a href="/" class="btn">Към начална страница</a>
        </div>
    </div>
</div>