<!-- Cars Section -->
<div class="parallax-section" id="cars">
    <div class="container">
        <div class="section-title">
            <h3>Модели Автомобили <span>За Наем</span></h3>
            <p>Тези автомобили са налични за наем през определения от вас период. </p>
        </div>
        <div class="vehiclesList">
            <ul class="carsmodals">
                <li *ngFor="let car of availableCarsService.availableCars$ | async" class="item">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>{{car.name}}</h3>
                            <div class="subtitle" *ngIf="car.isLPG">LPG</div>
                            <div class="carPrice"> <strong>&euro; {{car.price}}</strong> <span>/Ден</span> </div>
                            <a class="reserve btn" (click)="bookCar(car.id)">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                Резервирайте сега
                            </a>
                        </div>
                        <div class="col-md-6"><a [href]="car.imgUrl" class="image-popup"><img [src]="car.imgUrl"
                                    alt="" /></a></div>
                        <div class="col-md-3">
                            <div class="carinfo">
                                <ul>
                                    <li>LPG: <strong>
                                            <ng-container *ngIf="car.isLPG">Да</ng-container>
                                        </strong></li>
                                    <li>Превключване:
                                        <strong>
                                            <div [ngSwitch]="car.transmission">
                                                <div *ngSwitchCase="'automatic'">АВТОМАТИК</div>
                                                <div *ngSwitchDefault>РЪЧНА</div>
                                            </div>
                                        </strong>
                                    </li>
                                    <li>Климатик: <strong>Да</strong></li>
                                    <li>Минимална възраст: <strong>25 години</strong></li>
                                    <li>Брой места: <strong>{{car.seatCount}}</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>