<header>
  <app-nav></app-nav>
</header>

<!-- Home Section -->
<div id="home" class="parallax-section">
  <!--     <div class="overlay"></div>-->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-sm-12">
        <div class="slide-text">
          <h3>Какво предлагаме? <a href="" class="typewrite" data-period="2000" data-type='[ "Коли под наем", "Специални намаления", "Пълна застраховка" ]'> <span class="wrap"></span> </a> </h3>
          <h1>Телефон за връзка: <a href="tel:+359 899 5888 30">+359 899 5888 30</a></h1>
          <div>
            <p style="font-size: 20px; text-align: center;">
              За заявка може директно да се обадите или да видите цените и колите след потърсване (по-долу)<br/>
              Безплатна доставка навсякъде в София<br/>
              Заплащането става при взимане на автомобила. В брой, с кредитна карта, с дебитна карта, или с PayPal</p>
          </div>
          <a href="/#about" class="btn btn-default section-btn">Започнете</a> </div>
      </div>
    </div>
  </div>
</div>
<main>
  <article>
    <app-preloader></app-preloader>

    <router-outlet></router-outlet>

    <app-company-services></app-company-services>

    <app-contact-map></app-contact-map>
  </article>
</main>

<!-- Footer Section -->
<footer>
  <div class="container">
    <!-- social Section -->
    <div class="socialLinks" > <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a> </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="footer-copyright">
          <p>&copy; 2018 RentAuto-Sofia | Всички права - запазени.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
