<!-- Service Section -->
<div id="service" class="parallax-section">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title" >
            <h3>RentAuto <span>Услуги</span></h3>
            <p></p>
        </div>
        <div class="row">
            <!-- Service 1 -->
            <div class="col-md-6 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <h4>Резервация по телефона</h4>
                    <p>Просто ни се обаждате и ни казвате детайлите.</p>
                </div>
            </div>

            <!-- Service 2 -->
            <div class="col-md-6 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-money-bill-alt" aria-hidden="true"></i></div>
                    <h4>Специални намаления</h4>
                    <p>Предлагаме намаления в зависимост от периода на взимане.</p>
                </div>
            </div>

            <!-- Service 3 -->
            <div class="col-md-6 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-umbrella" aria-hidden="true"></i></div>
                    <h4>Пълна застраховка</h4>
                    <p>Предлагаме пълна застраховка за ЕС.</p>
                </div>
            </div>
            <!-- Service 3 -->
            <div class="col-md-6 col-sm-6">
                <div class="service-thumb">
                    <div class="thumb-icon"><i class="fa fa-map-marked-alt" aria-hidden="true"></i></div>
                    <h4>Безплатна доставка</h4>
                    <p>Вземете кола и ще ви я доставим навсякъде в София.</p>
                </div>
            </div>
        </div>
    </div>
</div>